/* desktop sizes */
$mobile: 375px;
$desktop: 1440px;

/* colors */

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

/* font and font sizes */

$body: 0.875rem;
$montserrat: 'Montserrat', sans-serif;
$fraunces: 'Fraunces', sans-serif;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  html, body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: hsl(30, 54%, 90%); 
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  
  body {
    display: flex;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: 95vw;
    background-color: $white;
    border-radius: .8rem .8rem 0 0;

  }

  .card__image--fixed {
    border-radius: .8rem .8rem 0 0;
  }

  .card__body {
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.5rem 1.75rem 1.5rem;
    gap: 1rem;
    justify-content: center;
  }

  

  .card__subtitle {
    font-family: $montserrat;
    font-size: 0.75rem;
    letter-spacing: 0.35em;
    font-weight: 500;
    color: $dark-grayish-blue;
  }

  .card__title {
    font-family: $fraunces;
    color: $very-dark-blue;
    line-height: 110%;
    font-size: 2rem;
  }

  .card__copy {
    font-family: $montserrat;
    color: $dark-grayish-blue;
    font-size: $body;
    font-weight: 500;
  }

  .card__prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .card__prices--discount {
      font-family: $fraunces;
      color: $dark-cyan;
      font-size: 2rem;

    }

    .card__prices--original {
      font-family: $montserrat;
      font-size: 0.75rem;
      color: $dark-grayish-blue;
      text-decoration: line-through;
      font-weight: 500;
    }
  }

  .card__button {
    background-color: $dark-cyan;
    color: $cream;
    font-family: $montserrat;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.75rem 0 0.75rem 0;
    border-radius: 0.625rem;
    font-size: 0.825rem;
  }

  .card__button:hover {
    background-color: hsl(158, 36%, 21%);
    cursor: pointer;
  }  

  @media (min-width: 600px) {
    
    .card {
      flex-wrap: nowrap;
      grid-template-rows: repeat(2, auto);
      }
  }